# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.h5
*.h5.backup
Training/
Testing/
Training_meningioma_augmented/
*.png
*.jpg
*.jpeg
uploads/

# Jupyter Notebook
.ipynb_checkpoints

# OS specific files
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Logs
logs/
*.log

# Local settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Large model files
*.model
*.pth
*.pb
app/models/brain_tumor_classifier.h5
**/tensorflow/libtensorflow_cc.2.dylib
**/clang/native/libclang.dylib

# Large data files
# data/raw_datasets/ 

# Database
app/database/*.db
app/database/patients.db

# Uploads
app/static/uploads/ 